<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151702780930-b6fjb1tcn02b4f0pu3grco4nr9t44fni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151702780930-b6fjb1tcn02b4f0pu3grco4nr9t44fni</string>
	<key>API_KEY</key>
	<string>AIzaSyDTFqMgHzJ6oHu0d3bWYk9F6uyTG9qGiNE</string>
	<key>GCM_SENDER_ID</key>
	<string>151702780930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dom.findStick</string>
	<key>PROJECT_ID</key>
	<string>findstick-f095e</string>
	<key>STORAGE_BUCKET</key>
	<string>findstick-f095e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151702780930:ios:1fe5bbbde7df204d247b1b</string>
</dict>
</plist>